.div {
  position: relative;
  font-weight: 500;
}

.frameChild {
  position: relative;
  width: 50px;
  height: 14px;
}

.parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 14px;
  font-family: var(--font-lato);
}

.backButtonIcon {
  position: absolute;
  width: 17px;
  height: 14.05px;
  transform: scale(1.5);
  cursor: pointer;
  top: 60px;
}

.input:focus {
  outline: none;
}

.next {
  font-weight: 500;
  margin-top: 11%;
  font-family: var(--font-lato);
  justify-content: center;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkslateblue);
  border: 1px solid var(--color-darkslateblue);
  box-sizing: border-box;
  width: 268px;
  height: 51px;
  overflow: hidden;
  font-size: 24px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.emailFieldFrame,
.passwordFieldFrame,
.vectorIcon {
  position: absolute;
  overflow: hidden;
}

.emailFieldFrame {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-darkslateblue);
  box-sizing: border-box;
  width: 268px;
  height: 51px;
  place-items: center;
  display: grid;
}

.email {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: large;
  justify-content: center;
  border: none;
}

.email::placeholder {
  color: var(--color-darkslateblue);
  font-family: var(--font-lato);
}

.vectorIcon {
  height: 31.58%;
  width: 7.46%;
  top: 35.78%;
  right: 5.88%;
  bottom: 32.64%;
  left: 86.66%;
  max-width: 100%;
  max-height: 100%;
}

.passwordFieldFrame {
  top: 79px;
  left: 0;
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-darkslateblue);
  box-sizing: border-box;
  width: 268px;
  height: 51px;
}

.eyeIcon {
  position: absolute;
  top: 18px;
  right: 12px;
  width: 20px;
  height: 16px;
  cursor: pointer;
  align-self: center;
}

.signUp {
  position: absolute;
  top: 172px;
  left: calc(50% - 79px);
  font-size: 40px;
  color: var(--color-darkslateblue);
}

.backButtonIcon {
  position: absolute;
  top: 72px;
  left: 25px;
  width: 17px;
  height: 14.05px;
  cursor: pointer;
}

.textBoxes {
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 268px;
  height: 450px;
  font-size: var(--font-size-lg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.signUpPage {
  position: absolute;
  border-radius: 30px;
  background-color: #fff;
  border: 10px solid #000;
  box-sizing: border-box;
  width: 100%;
  height: 820px;
  overflow: hidden;
  text-align: left;
  font-size: 14px;
  color: #000;
  font-family: var(--font-lato);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
