.homePage {
  position: relative;
  border-radius: var(--br-11xl);
  background-color: var(--color-white);
  border: 10px solid var(--color-black);
  box-sizing: border-box;
  width: 100%;
  height: 820px;
  overflow: hidden;
  text-align: center;
  font-size: 30px;
  color: var(--color-darkslateblue);
  font-family: var(--font-lato);
} 

.topBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  background-color: white;
  margin-bottom: 20px;
}
.filterContainer {
  position: relative;
  width: 23px;
  height: 41px;
}
.latestParent,
.filterIcon {
  position: absolute;
  top: 48px;
  left: 131px;
  width: 100px;
  height: 36px;
} 
.filterIcon {
  top: -1px;
  left: -1px;
  width: 25px;
  height: 26px;
}
.latest {
  position: absolute;
  top: 0;
  left: calc(50% - 50px);
  font-weight: 600;
}
.vectorIcon {
  position: absolute;
  top: 10px;
  left: 89px;
  width: 12px;
  height: 18px;
}
.favoritesContainer {
  position: relative;
  width: 39px;
  height: 41px;
}
.favoritesIcon {
  position: absolute;
  height: 63.41%;
  width: 69.21%;
  top: -2.44%;
  right: 15.4%;
  bottom: 39.02%;
  left: 15.4%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.pictureGallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
}
.pictureItem {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden; 
  width: 150px;
}
.pictureItem img {
  width: 100%;
  height: auto;
  object-fit: cover;
}




